{% extends '00inicio/base.html' %}

{% load static %}


{% block content %}
<style>
    .param
    {
     height: 800px;   
    }
    table
    {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -250px;
        margin-left: -160px;  
        width: 600px;
        height: 500px;
    }
    h1
    {
        margin-left: 340px;
        font-size: 50px;
    } 
    #label
    {
        font-size: 20px;
        width: 300px;
        padding-top: 10px;
    }
    #label1
    {
        font-size: 14px;
        width: 300px;
        padding-top: 10px;
    }
</style>
<body>
   <div class="param">
    <h1>Parametrización</h1>
    <table>
        <thead>       

        </thead>
        <tbody>
            {% if object_list %}
            {% for parametrizacion in object_list %}

            <tr>
                <td id="label">Nombre:</td>
                <td id="label1">{{parametrizacion.nombre}}</td>
            </tr>
            <tr>
                <td id="label">Lema:</td>
                <td id="label1">{{parametrizacion.lema}}</td>
            </tr>
            <tr>
                <td id="label">Imagen:</td>
                <td>
                    <img src="media/{{parametrizacion.imagen.url}}"   style="width:200px;height:200px">               
                </td>
            </tr>
            <tr>
                <td id="label">Informacion:</td>
                <td id="label1">{{parametrizacion.informacion}}</td>
            </tr>
                  <tr>
                <td id="label">Estado Directorio:</td>
                <td id="label1">{{parametrizacion.estado_directorio}}</td>
            </tr>
            <tr>
                <td id="label">Estado Articulo:</td>
                <td id="label1">{{parametrizacion.estado_articulo}}</td>
            </tr>
            <tr>
                <td id="label">Estado Localización:</td>
                <td id="label1">{{parametrizacion.estado_localizacion}}</td>
            </tr>
            <tr>
                <td id="label">Estado Hoja de Vida:</td>
                <td id="label1">{{parametrizacion.hoja_de_vida}}</td>
            </tr>
             <tr>
                <td id="label">Estado Oferta Academica:</td>
                <td id="label1">{{parametrizacion.oferta_academica}}</td>
            </tr>
             <tr>
                <td id="label">Estado Notas:</td>
                <td id="label1">{{parametrizacion.nota_semestre}}</td>
            </tr>
             <tr>
                <td id="label">Estado Información Materia:</td>
                <td id="label1">{{parametrizacion.informacion_materia}}</td>
            </tr>
             <tr>
                <td id="label">Estado Lista Estudiantes:</td>
                <td id="label1">{{parametrizacion.lista_estudiantes}}</td>
            </tr>
            <tr>
                <td></td>
                <td><a href="{% url 'editar-parametrizacion' parametrizacion.id %}"><br><button class="btn1 btn btn-primary">Editar</button></a><br><br>
                <button type="button" class="btn btn-danger" onclick="validar_eliminacion_articulo('{% url 'eliminar-parametrizacion' parametrizacion.id %}', '{{ parametrizacion.descripcion }}', '{{ parametrizacion.fecha }}')">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar
                </button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <h1>No existe parametrizacion</h1>
            {% endif %}
        </tbody>
    </table>
    </div>
</body>
<div id="modal_eliminiar">
    <div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-primary close" data-dismiss="modal" aria-hidden="true">
                        <span class="glyphicon glyphicon-close" aria-hidden="true"></span> Cancelar
                    </button>
                    <h3>Esta seguro eliminar parametrizacion</h3>
                </div>
                <form method="post" action="" id="form_confirmacion">
                    {% csrf_token %}
                    <div class="modal-body">                          
                        <label>Descripcion:</label><span id="spn_descripcion"></span><br>
                        <label>Fecha:</label><span id="spn_fecha"></span><br> 
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-delete" aria-hidden="true"></span> Eliminar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static "js/jquery-3.1.1.js" %}"></script>
<script src="{% static "js/codigo.js" %}"></script>
{% endblock %}